$mainBackgroundColor: radial-gradient(rgb(11, 109, 11), rgb(33, 142, 33));
$mainBorder: 3px solid rgba(33, 33, 33, 0.2);
$mainFontColor: rgb(252, 252, 242);
$borderRadiusOfHeader: 100px 0;
$boxShadow: 0px 0px  10px rgba(0, 0, 0, 0.5); 


* {
    box-sizing: border-box;
    font-weight: 600;
}

html {
    font-size: 100%;
}


.clickable{
    cursor: pointer;
}
.clickable:hover{
    //color: rgb(101, 101, 101);
}

.hidden {
    visibility: hidden;
}

.only-visible-when-printing{
    display: none;
}


body {
    max-width: 650px;
    margin: auto;

    > * {
        box-shadow: $boxShadow;
    }
}

// HEADER //

header{
    font-size: 1.3rem;
    background: $mainBackgroundColor;
    display: flex;
    height: 360px;
    align-items: end;
    margin-top: 20px;
    margin-bottom: 40px;
    border: $mainBorder;
    border-radius: $borderRadiusOfHeader;
    justify-content: flex-end;

    h1 {
        padding: 30px 60px;
        font-family: "Courgette", cursive;
        text-shadow: 0px 0px 2px black;
        color: $mainFontColor;

        div{
            padding-bottom: 12px;
            
        }
        div::first-letter{
            font-size: 130%;
        }

        :first-child + div {
            padding-left:  60px;
        }
        :last-child{
            padding-left:  15px;
        }
    }

    img {
        max-width: 340px;
        border-radius: $borderRadiusOfHeader;
        // padding-bottom: 17px;
        // padding-right: 17px;
        margin-bottom: 17px;
        margin-right: 17px;

        border: $mainBorder;

    }
}

// MAIN //

main {
    background: $mainBackgroundColor;
    border: $mainBorder;
    border-radius: 20px;

    .form-container{
        padding-top: 30px;
        display: flex;  

        
        > div {
            flex-grow: 1;
        }
        form {
            flex-grow: 2;
            padding-top: 50px;

            button {
                display: block;
                margin: auto;
            }
            .input-group {
                display: flex;
                justify-content: center;

                * {
                    color: rgb(55, 55, 55);
                }
            }
            :first-child > * {
                height: 45px;
            }
        }
        :last-child {
            display: block;
            
            button {
                border-radius: 100%;
                border: radial-gradient(rgb(86, 109, 84), rgb(173, 182, 175) 7px solid);
                box-shadow: $boxShadow;
                background: radial-gradient(rgb(16, 90, 8), rgb(11, 102, 29));
                color: $mainFontColor;
                height: 85px;
                width: 85px;
                display: block;
                margin: auto;
                margin-top: 20px;
                margin-bottom: 20px;
                
            }
        }
    }


    .plant-div-container {
        background: white;
        border-radius: 10px;
        margin: 30px 60px;
        height: 505px;
        overflow-y:auto;


        .plant-div {
            display: flex;
            color: $mainFontColor;
            
            > div {
                padding: 5px 10px;
                border-radius: 10px;
                margin-right: 10px;
                margin-top: 10px;
            }

            .fa-envira {
                color: green;
                margin-left: 10px;
            }

            .plant-info-block{
                display: flex;
                background: $mainBackgroundColor;
                border: $mainBorder;
                width: 100%;
                justify-content: space-between;

                 > * {
                    width: 33%;
                 }
                 .plant-controls-div {
                    display: flex;
                    justify-content: right;
                    padding-top: 4px;

                    .edit-plant-btn {
                        padding-right: 10px;
                    }
                    .delete-plant-btn {
                        padding-right: 5px;
                    }
                 }


            }

            .plant-height-div {
                display: flex;

                > * {
                    padding-right: 15px;
                }
            }

        }

    }

    .under-list-div > div {
        display: flex; 
        justify-content: center;
        margin-bottom: 20px;

        .clear-all-alert{
            margin: 5px 0;

        }

        > div:not(.clear-all-alert) {
            padding: 0 20px;
        }
        
    }

}




// FOOTER // 



// OTHER //

.most-recently-added-plant {
    box-shadow:  0 0 10px #03f2ff;

}



/* media queries */

// @media screen and (max-width: 900px)  {
//     body {
//          background-color: white;
//     }
//     main{
//          border: none;
//     }
    
//     #name-field{
//          min-width: 90%;
//     }
// }

// @media screen and (max-width:800px){
//     #name-field{
//          min-width: 80%;
//     }
// }

@media print {
    body {
         -webkit-filter: grayscale(100%);
         -moz-filter: grayscale(100%);
         -ms-filter: grayscale(100%);
         filter: grayscale(100%);
    }
    body, .clickable, .fa-envira {
         visibility: hidden;
    }
    .plant-div-container > div, .only-visible-when-printing{
         visibility: visible;
         position: absolute;
         top: 0;
         width: 100%;
    }
    .plant-div-container > div{
         top: 60px;
    }
    .only-visible-when-printing{
         text-align: center;
         display: block;
         font-size: x-large;
    }
    .plant-div {
         border: none;
         font-size: large;
         padding-right: 160px;
    }
    .most-recently-added-plant {
        box-shadow:  none;
    }
}